.footer {
    max-width: 1280px;
    margin: 0 auto;
    padding: 80px 70px 20px;
    box-sizing: border-box;
    background-color: rgba(248, 248, 248, 1);
}

.footer__caption {
    color: #A0A0A0;
    text-align: center;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    box-sizing: border-box;
    padding-bottom: 20px;
    border-bottom: 1px solid #E8E8E8;
    margin: 0;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    padding-top: 18px;
    align-items: center;
}

.footer__copyright {
    margin: 0;
    color: #000;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer__nav-container {
    display: flex;
    flex-direction: row;
}

.footer__navlink {
    margin: 0;
    padding-left: 20px;
    text-decoration: none;
    color: #000;
    text-align: right;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: opacity 0.5s ease-in-out;
    cursor: pointer;
}

.footer__navlink:hover {
    opacity: 0.7;
}

@media (max-width: 769px) {
    .footer {
        padding: 80px 30px 20px;
    }
}

@media (max-width: 425px) {
    .footer {
        padding: 80px 10px 20px;
    }

    .footer__caption {
        font-feature-settings: 'clig' off, 'liga' off;
        font-size: 12px;
    }

    .footer__copyright {
        padding-top: 30px;
        order: 2;
    }

    .footer__container {
        flex-direction: column;
        padding-top: 30px;
    }

    .footer__nav-container {
        flex-direction: column;
        align-items: center;
    }

    .footer__navlink {
        padding-left: 0px;
    }

    .footer__navlink:first-of-type {
        padding-bottom: 12px;
    }
}